.sidebar{
    /* box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px; */
    width: 17rem; /* Adjust width as needed */
    background-color: white;
    box-shadow: 3px 3px 8px -3px #ddd;

}

.dashboard {
    display: flex;
    flex-direction: row;

}
  
.main{
    background-color: #EDF2F9;
    min-height: 100vh;
    /* flex-grow: 1; */
}
/* 
.main-expanded{
    flex: 2;
} */

.navbar{
    background-color: #EDF2F9;
    width:100%;
    box-shadow: 3px 3px 8px -3px #ddd;

}
@media (max-width: 768px) {
    .dashboard{
        flex-direction: column-reverse;
    }
    .navbar{
        width: 100%;
    }

    .main{
        min-width: 100%;
    }
    .sidebar{
        width: 100%;

    }
}